<%= div_for comment do %>
  	<p>
  	  <strong>Body:</strong>
  	  <%= comment.body %>
  	</p>	
    <div>
      <strong> (Posted <%=time_ago_in_words(comment.created_at) %>)</strong>
    </div>
<%end%>
