<%= form_for(@post, html: {multipart: true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
	<div class="tag">
		<%= f.label :tag_list %><br />
		<%= f.text_field :tag_list %>
	</div>
	<div>
		<% if @post.image.exists? %>
			<%= image_tag @post.image.url %>
		<% end %>
		<%= f.label :image, "Attach a image" %> <br />
		<%= f.file_field :image %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
