<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
	<strong>Tag:</strong>
	<% @post.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<p>
	<% if @post.image.exists? %>
		<%= image_tag @post.image.url %>
	<% end %>
</p>
<% if logged_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>

<div id="comments">
    <%= render :partial => @post.comments.reverse%>
</div>

<%= form_for ([@post, @new_comment]), remote: true do |f| %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
