<header>
	<div class="container">
		<div class="row">
			<div class="responsive-logo"></div>
			<div class="pullcontainer">
				<a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<nav>
					<div class="logo-holder"></div>
					<ul class="clearfix">
						<li><a href="#about">About Me</a></li>
						<li class="dot">.</li>
						<li><a href="#work" class="r_spacer">Work</a></li>
						<!--<li><%= link_to "Blog", posts_path %></li>-->
						<li class="dot">.</li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="hero"></div>
</header>
<div class="container-fluid intro" id="about">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="header-content">
				<h1 class="chain">Making a better life</h1>
				<p class="text-intro"><%= @name %></p>	
			</div>
			<div class="other-content">
				<h4>What's your background in education? </h4>
				<p><%= @biography %></p>
				<h4>Why Finland?</h4>
				<p>Don't ask me. I don't know either. </p>
				<h4>What do you do currently? </h4>
				<p>My current interest is in deep learning & data mining and mobile development. I also get my hand dirty now and then in Web development.</p>
				<h4>Aim for the future?</h4>
				<p>Though always want to build a better world. I would love to get involved in creating a better education system in less developed countries and beyond with focus on young children.  </p>	
			</div>
			
		</div>
	</div>
</div>
<!--
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 section-1 nopadding" id="work">
			<div class="logo-1 wp1"></div>
		</div>
		<div class="col-md-4 section-text nopadding">
			<div class="wp4">
				<h2 class="frame">Understanding Healthcare information through Twitter dataset</h2>
				<p>To be added</p>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img seat-red">
				<div class="arrow"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 section-text nopadding">
			<div class="wp5">
				<h2 class="mech">La Boriosa</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.</p>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img seat-black">
				<div class="arrow"></div>
			</div>
		</div>
		<div class="col-md-8 section-2 nopadding">
			<div class="logo-2 wp2"></div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 section-3">
			<div class="logo-3 wp3"></div>
		</div>
		<div class="col-md-4 section-text nopadding">
			<div class="wp6">
				<h2 class="front-frame">Retrò Bike - M. Hulot</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.</p>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img frame-red">
				<div class="arrow"></div>
			</div>
		</div>
		<div class="col-md-4 section-4"></div>
	</div>
</div>
<section class="flex-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="flex-twitter-icon"></div>
							<h2 class="twitter-post-username">
							<a href="#">AOS New York @aod</a> <span>/ 35 min</span>
							</h2>
							<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.</p>
						</li>
						<li>
							<div class="flex-twitter-icon"></div>
							<h2 class="twitter-post-username">
							<a href="#">AOS New York @aod</a> <span>/ 35 min</span>
							</h2>
							<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. </p>
						</li>
						<li>
							<div class="flex-twitter-icon"></div>
							<h2 class="twitter-post-username">
							<a href="#">AOS New York @aod</a> <span>/ 35 min</span>
							</h2>
							<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container-fluid" id="shop">
	<div class="row">
		<div id="effect" class="effects clearfix">
			<div class="col-md-4 left nopadding">
				<div class="left-box-1">
					<div class="img">
						<%= image_tag("l1.jpg", alt: "leather seats") %>
						<div class="overlay">
							<a href="http://google.com/" class="expand">leather seats</a>
							<%= link_to "leather seats", "http://google.com", class: 'expand' %>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="left-box-2 box">
					<div class="img">
						<%=image_tag("l2.jpg", alt: "Custom Seats") %>
						<div class="overlay">
							<%= link_to "custom seats", "#", class: "expand" %>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="left-box-btm box">
					<div class="img">
						<%= image_tag("l3.jpg", alt: "Limited Edition") %>
						<div class="overlay">
							<a href="#" class="expand">limited edition</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mid nopadding">
				<div class="mid-box-1 box">
					<div class="img">
						<%= image_tag("l4.jpg", alt: "Shop Bags") %>
						<div class="overlay">
							<a href="#" class="expand">shop bags</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="mid-box-2 box">
					<div class="img">
						<%= image_tag("l5.jpg", alt: "Shop Bikes") %>
						<div class="overlay">
							<a href="#" class="expand">shop bikes</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 right nopadding">
				<div class="right-box-1 box">
					<div class="img">
						<%= image_tag("l6.jpg", alt: "Shop Now") %>
						<div class="overlay">
							<a href="#" class="expand">shop now</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="right-box-2 box">
					<div class="img">
						<%= image_tag("l7.jpg", alt: "Shop Seats") %>
						<div class="overlay">
							<a href="#" class="expand">shop seats</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="right-box-3 box">
					<div class="img">
						<%= image_tag("l8.jpg", alt: "Shop Accessories") %>
						<div class="overlay">
							<a href="#" class="expand">shop accessories</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="discover">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<a href="#" class="shop-btn">Discover The Shop</a>
			</div>
		</div>
	</div>
</section>
<section class="sign_up">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 sign-up">
				<h2 class="logo-header">Stay on the saddle!</h2>
				<form name="signup-form">
					<input class="signup-input" type="email" name="email_address" value="" placeholder="enter your email..." title="Please enter a valid email address." required>
					<button type="submit" class="submit-btn">GO</button>
				</form>
			</div>
		</div>
	</div>
</section>
-->
<footer id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-4 footer-leftcol">
				
			</div>
			<div class="col-md-4 footer-midcol">
				<ul>
					<li><%= link_to "Twitter", 	"https://twitter.com/petershodeinde", class: "twitter-icon" 	%></li>
					<li><%= link_to "Facebook", "https://facebook.com/petsome", class: "facebook-icon" %></li>
					<li><%= link_to "LinkedIn", "https://www.linkedin.com/in/petershodeinde", class: "pintrest-icon" %></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 footer-rightcol">
				<p> Designed by Peter </p>
			</div>
		</div>
	</div>
</footer>